.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  backdrop-filter: blur(10px);
  background: rgba(10, 10, 10, 0.5);
  z-index: 100;
}

.logo {
  font-size: 16px;
  font-weight: 500;
  color: #ccc;
}